services:
  postgres:
    image: postgres:16
    container_name: epicode_pg
    environment:
      POSTGRES_DB: epicode-s7-l3-design-patterns
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "15432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
